<!DOCTYPE html>
<html>
<head>
    <title>DTCL動画の紹介🎦</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="content">
    <div align="center">
        <h1><a name="youtube"><p>
                    <a href="https://youtu.be/xRNDvD-qq1c?si=BKFNXwAC71uCUxp2">.netfileの構成、neovim/goneovim動作状況</a>
                </p></a></h1>
        <iframe width="530" height="315" src="https://www.youtube.com/embed/xRNDvD-qq1c?si=JX203WUrlWu095gi"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3><p>2025/11/03、現時点で人気のある私のDTCL(Developer Test Completed Log)動画です。</p></h3>
        <h3><p>Neovimの環境構築することを止めました(JetBrains製IDEに移行のため)。</p></h3>
        <h3><p>
                理由は、設定ファイルが多く調整が必要なこと。プラグインの入れ替えや仕様の変更に対応することの2点です。</p>
        </h3>
        <h3><p>年を重ねるごとに、時間の大切さを知り1日24時間があっという間に流れていくことは虚しさでもあります。</p>
        </h3>
        <p>Copyright &copy; 2025 Takayuki Kamiyama. </p>
    </div>
</div>
</body>
</html>