body {
    font-family: "HackGen35 Console NF";
    font-size: 1.2em;
    padding: 0em 1em;
    background-color: #f0f9ff;
}

.container {
    background-color: white;
    padding: 0.1em 1.2em 0.5em 1.2em;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}

p {
    padding: 5px 10px;
}

.alert {
    color: white;
    background-color: royalblue;
    border: white 6px double;
    padding: 25px 50px;
    margin: 25px 0px;
    border-radius: 0.5em;
}

.card {
    border: gray 1px solid;
    padding: 25px 50px;
    margin: 25px 0px;
    box-shadow: 5px 7px 5px darkgray;
}